{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startinger</title>
    <!--Bulma-->
    <!-- <link rel="stylesheet" href="{% static 'landing/css/style.css' %}" /> -->
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  </head>
  <body>
    <nav class="teal">
      <div class="nav-wrapper container">
        <a class="brand-logo" href="#" style="height: 100%"
          ><span class="">Start-</span><span class="">In-</span
          ><span class="">Germany</span></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="{% if navbar == 'home' %} active {% endif %}">
            <a href="{% url 'home' %}">Главная</a>
          </li>
          <li class="{% if navbar == 'services' %} active {% endif %}">
            <a href="{% url 'services' %}"> Услуги </a>
          </li>
          <li class="{% if navbar == 'about' %} active {% endif %}">
            <a href="{% url 'about' %}"> О нас </a>
          </li>
          <li class="{% if navbar == 'contact' %} active {% endif %}">
            <a href="{% url 'contact' %}"> Контакты </a>
          </li>
          <li>
            <a class="btn waves-effect waves-light pulse orange" href="{% url 'quote' %}">
              <span>Подать заявку</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- <p class="">Юридическая помощь в Германии</p> -->

    <!--Block-->
    {% block quote%} {% endblock %}

    <!--Block-->
    {% block hero %} {% endblock %}

    <!--Block-->
    {% block learn_more %} {% endblock %}

    <!--Block-->
    {% block steps %} {% endblock %}

    <!--Block-->
    {% block services %} {% endblock %}

    <!--Block-->
    {% block testimonials %} {% endblock %}

    <!--Block-->
    {% block faq %} {% endblock %}

    <!--Block-->
    {% block about %} {% endblock %}

    <!--Block-->
    {% block contact %} {% endblock %}

    <footer class="teal">
      <div class="container">
        <div class="row white-text">
          <div class="col l4">
            <h4 class="brand-logo white-text" href="#">Start-In-Germany</h4>
            <p>Юридическая помощь в Германии</p>
            <ul id="social">
              <li><i class="fa-sharp fa-solid fa-phone"></i></li>
              <li><i class="fa-regular fa-envelope"></i></li>
              <li><i class="fa-brands fa-telegram"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
            <a class="btn waves-effect pulse orange" href="{% url 'quote' %}">
              <span>Подать заявку</span>
            </a>
          </div>
          <div class="col l4">
            <h4 class="">Ссылки</h4>
            <ul class="is-light">
              <li>
                <a
                  class="white-text is-size-5 center-align {% if navbar == 'home' %} is-active {% endif %}"
                  href="{% url 'home' %}"
                  >Главная</a
                >
              </li>
              <li>
                <a
                  class="white-text is-size-5 {% if navbar == 'services' %} is-active {% endif %}"
                  href="{% url 'services' %}"
                  >Услуги</a
                >
              </li>
              <li>
                <a
                  class="white-text is-size-5 {% if navbar == 'about' %} is-active {% endif %}"
                  href="{% url 'about' %}"
                  >О нас</a
                >
              </li>
              <li>
                <a
                  class="white-text is-size-5 {% if navbar == 'contact' %} is-active {% endif %}"
                  href="{% url 'contact' %}"
                  >Контакт</a
                >
              </li>
            </ul>
          </div>
          <div class="col l4">
            <h4 class="">Newsletter</h4>
            <form action="" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input class="pointer" type="submit" value="Подписаться" />
            </form>
          </div>
        </div>
        <div class="center-align white-text" id="copyright">
          © 2017-2022 | Все права защищены
        </div>
      </div>
    </footer>
  </body>
</html>
