{% extends "landing/base.html" %} {% load static %}

<!--Hero Section-->
{% block hero %}
<section class="teal" style="height: 90vh">
  <div id="hero-body">

      <div class="container row white-text" id="hero-content">
        <div class="col l8" >
          <h2 class="title">
            <span>Помощь</span> <span>с получением</span> <span>убежища</span>
            <span>в Германии</span> <span>для граждан России</span>
          </h2>
          <h5 class="subtitle">
            Полный комплект услуг: от встречи в аэропорту и до получения
            бесплатного жилья и ежемесячного денежного пособия
          </h5>
          <div id="hero-buttons">
            <a class="btn btn-large waves-effect orange" href="{% url 'quote' %}"
              >Подать заявку</a
            >
            <a
              class="btn btn-large white black-text"
              href="#learnmore"
              >Узнать больше</a
            >
          </div>
        </div>
        <div class="col l4" id="hero-image">
          <img
            class=""
            width="100%"
            src="{% static '/landing/images/germany.svg' %}"
            alt="Germany"
          />
        </div>
      </div>

  </div>
</section>
{% endblock %}

<!--Learn more Section-->

{% block learn_more %}
<section class="" id="learnmore">
  <div class="container">
    <h3 class="title center-align">
      Получение убежища в Германии для граждан России
    </h3>
    <p class="subtitle center-align">
      Всё, что Вам необходимо знать для принятия решения.
    </p>
    <div class="row valign-wrapper">
      <div class="col l6">
        <img
          id="learnmore-img"
          src="{% static '/landing/images/asylantrag.jpg' %}"
          alt="Asylantrag"
        />
      </div>
      <div class="col l6">
        <div class="">
          <p class="">
          (Такого-то) сентября правительство Германии приняло решение о
          предоставлении убежища россиянам, бегущим от мобилизации, а также всем
          тем, кто недоволен установившимся в России политическим режимом.
        </p>
        <p class="">
          Согласно параграфу ## Gesetzbuch от такого то числа, теперь граждане
          России также могут рассчитывать на получение социальной помощи в
          размере не менее 360 евро на человека, а также предоставление
          бесплатного социального жилья, либо компенсацию расходов на аренду
          самостоятельно найденного жилья
        </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!--Steps Section-->

{% block steps %}
<section class="teal white-text" id="process">
  <div class="container">
    <h2 class="title center-align">
      Процесс получения убежища
    </h2>
    <!--Row-->
    {% for key, value in steps.items %}
    <div class="row versetzt valign-wrapper">
      <div class="col l6">
        <article class="message is-info">
          <div class="message-header">
            <h3 class="title">{{ value.title}}</h3>
          </div>
          <div class="message-body">
            <p class="mb-2">{{ value.text1 }}</p>
            <p class="mb-2">{{ value.text2 }}</p>
            <ul class="ml-4">
              {% for item in value.list %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </article>
      </div>
      <div class="col l6 process-img">
        <img src="{% static value.imgpath %}" alt="Alt">
      </div>
    </div>
    {% endfor %}
    <div class="center-align primary"><a class="btn btn-large waves-effect orange" href="{% url 'quote' %}">Подать заявку</a></div>
  </div>
</section>
{% endblock %}

<!--Services Section-->

{% block services %}
<section class="" id="services">
  <div class="container">
    <h2 class="title center-align">Дополнительные услуги</h2>
    <p class="subtitle center-align">
      Мы всегда рады поделиться с Вами нашими знаниями и опытом
    </p>
    <!-- <div class="tabs is-centered">
      <ul id="service-tabs">
        <li class="is-active"><a>Все</a></li>
        <li><a>Жизнь</a></li>
        <li><a>Образование</a></li>
        <li><a>Финансы</a></li>
      </ul>
    </div> -->
    <!--row-->
    <div class="row">
      {% for service in services %}
      <div class="col l4">
        <div class="card teal white-text">
          <div class="card-content">
            <h5 class="">{{ service.title }}</h5>
            <p class="service-text">{{ service.text }}</p>
          </div>
          <div class="card-action center-align">
              <a class=""> Подробнее </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}

<!--Testimonials Section-->

{% block testimonials %}

<section class="teal white-text">
  <div class="container">
    <h2 class="title has-text-light center-align">Наши клиенты о нас</h2>
  </div>
</section>
{% endblock %}

<!--FAQ Section-->

{% block faq %}
<section class="">
  <div class="container">
    <h2 class="title has-text-dark center-align">
      Часто задаваемые вопросы
    </h2>
  </div>
</section>
{% endblock %}
