{% extends "landing/base.html" %} {% load static %}

<!--Hero Section-->
{% block hero %}
<section class="hero is-dark" style="height: 90vh">
  <div class="hero-body">
    <div class="container has-text-left">
      <div class="columns is-vcentered pt-5 pb-5">
        <div class="column is-two-thirds-tablet">
          <h1 class="title">
            <span>Помощь</span> <span>с получением</span> <span>убежища</span>
            <span>в Германии</span> <span>для граждан России</span>
          </h1>
          <p class="subtitle">
            Полный комплект услуг: от встречи в аэропорту и до получения
            бесплатного жилья и ежемесячного денежного пособия
          </p>
          <div class="buttons">
            <a href="{% url 'quote' %}" class="button is-large is-light"
              >Подать заявку</a
            >
            <a href="#learnmore" class="button is-large is-dark"
              >Узнать больше</a
            >
          </div>
        </div>
        <div class="column is-centered is-hidden-mobile">
          <img
            class="image m-auto"
            src="{% static '/landing/images/germany.svg' %}"
            alt="Germany"
          />
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!--Learn more Section-->

{% block learn_more %}
<section class="has-background-light pt-6 pb-6" id="learnmore">
  <div class="container">
    <h2 class="title has-text-centered">
      Получение убежища в Германии для граждан России
    </h2>
    <p class="subtitle has-text-centered">
      Всё, что Вам необходимо знать для принятия решения.
    </p>
    <div class="columns is-vcentered">
      <div class="column">
        <img
          src="{% static '/landing/images/asylantrag.jpg' %}"
          alt="Asylantrag"
        />
      </div>
      <div class="column">
        <p class="mb-2">
          (Такого-то) сентября правительство Германии приняло решение о
          предоставлении убежища россиянам, бегущим от мобилизации, а также всем
          тем, кто недоволен установившимся в России политическим режимом.
        </p>
        <p class="mb-2">
          Согласно параграфу ## Gesetzbuch от такого то числа, теперь граждане
          России также могут рассчитывать на получение социальной помощи в
          размере не менее 360 евро на человека, а также предоставление
          бесплатного социального жилья, либо компенсацию расходов на аренду
          самостоятельно найденного жилья
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!--Steps Section-->

{% block steps %}
<section class="has-background-dark pt-6 pb-6" id="process">
  <div class="container has-text-light">
    <h2 class="title has-text-light has-text-centered">
      Процесс получения убежища
    </h2>
    <!--Row-->
    {% for key, value in steps.items %}
    <div class="columns is-vcentered versetzt">
      <div class="column">
        <article class="message is-info">
          <div class="message-header">
            <h3 class="title has-text-light is-4">{{ value.title}}</h3>
          </div>
          <div class="message-body">
            <p class="mb-2">{{ value.text1 }}</p>
            <p class="mb-2">{{ value.text2 }}</p>
            <ul class="ml-4">
              {% for item in value.list %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </article>
      </div>
      <div class="column"></div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

<!--Services Section-->

{% block services %}
<section class="pt-6 pb-6 has-background-light" id="services">
  <div class="container">
    <h2 class="title has-text-centered">Дополнительные услуги</h2>
    <p class="subtitle has-text-centered">
      Мы всегда рады поделиться с Вами нашими знаниями и опытом
    </p>
    <div class="tabs is-centered">
      <ul id="service-tabs">
        <li class="is-active"><a>Все</a></li>
        <li><a>Жизнь</a></li>
        <li><a>Образование</a></li>
        <li><a>Финансы</a></li>
      </ul>
    </div>
    <!--Columns-->
    <div class="columns">
      {% for service in services %}
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content">
            <h3 class="is-size-4 has-text-weight-bold">{{ service.title }}</h3>
            <p>{{ service.text }}</p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span> Подробнее </span>
            </p>
          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}

<!--Testimonials Section-->

{% block testimonials %}

<section class="pt-6 pb-6 has-background-dark">
  <div class="container">
    <h2 class="title has-text-light has-text-centered">Наши клиенты о нас</h2>
  </div>
</section>
{% endblock %}

<!--FAQ Section-->

{% block faq %}
<section class="pt-6 pb-6 has-background-light">
  <div class="container">
    <h2 class="title has-text-dark has-text-centered">
      Часто задаваемые вопросы
    </h2>
  </div>
</section>
{% endblock %}
